# ==========================
# Operating System
# ==========================

.DS_Store
Thumbs.db

# ==========================
# Editors
# ==========================

.vscode/
.idea/

# ==========================
# Logs
# ==========================

*.log

# ==========================
# Temporary Files
# ==========================

*.tmp
*.temp

# ==========================
# Environment Variables
# ==========================

.env
